In [7]:
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
import numpy as np
import random

df = pd.read_excel('data_random_1.xlsx').iloc[:,1:]
df = df.iloc[:,[0,3,4]]
pl_1 = df.iloc[:, 0]
pl_4 = df.iloc[:, 1]
score = df.iloc[:, 2]

df

    PL1_In  PL2_In  PL3_In  PL4_In  3dmarkscore
0       80      80     153     180        22742
1      200     200      68      80        20780
2      170     170     144     170        23150
3      190     190      60      70        20394
4      100     100     136     160        22933
5      120     120      34      40        18795
6       90      90      94     110        21725
7      110     110     102     120        22066
8       60      60     110     130        22254
9      150     150      42      50        19210
10     130     130     119     140        22463